#bag{
    width: 200px;
    height: 500px;
    margin: 0 auto;
    background: url(../img/img1.png) center no-repeat;
    background-size: 80%;
}
#bag.burst{
    background: url(../img/img2.png) center no-repeat;
}
#bag-health{
    width: 200px;
    border: 1px #000 solid;
    margin: 0 auto 20px auto;
}
#bag-health div{
    height: 20px;
    background-color: red;
}
#controls{
    width: 200px;
    margin: 0 auto;
}
#controls button{
    margin-left: 20px;
}